{{- if .Values.kong.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "supabase.kong.fullname" . }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
data:
  wrapper.sh: |
    {{ tpl (.Files.Get "files/kong/wrapper.sh") . | nindent 4 }}
  template.yaml: |
    {{ tpl (.Files.Get "files/kong/template.yaml") . | nindent 4 }}
{{- end }}
